*.pt
*.sh
*.csv
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/bash_files
*/workspace
*/eval/mle
*/eval/density
*/eval/quality
tabunite_main/baselines/*/__pycache__
tabunite_main/baselines/*/ckpt
tabunite_main/*/ckpt
tabunite_main/*/*/ckpt
tabunite_main/data
tabunite_main/i2blatent_diffusion
tabunite_main/i2blatent_flow
tabunite_main/results
tabunite_main/synthetic
tabunite_main/tabsyn_data_process
tabunite_main/density_viz_2.0.ipynb
tabunite_main/density_viz.ipynb

tabunite_census-synthetic/synthetic
tabunite_census-synthetic/methods/*/ckpt
tabunite_census-synthetic/methods/*/__pycache__
